{% layout 'fullwidth' %}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=&libraries=places"></script>

{{ 'jquery.js' | asset_url | script_tag }}
{{ 'store-locator.min.js' | asset_url | script_tag }} <!-- Functions -->
{{ 'dealer_data.js' | asset_url | script_tag }} <!-- Pulls csv data -->
{{ 'panel.js' | asset_url | script_tag }} <!-- Assimilates csv+maps -->
{{ 'dealer-styles.css' | asset_url | stylesheet_tag }}


<div class='css-container'>
	<div id='top-banner'>
	</div>
</div>


<div class='css-map-container'>
	<div id='map-container-toggle-bar'>
		<div class='map-container-toggle-bar-row'>
			<div class='map-container-toggle' id='panel-toggle'>
				List
			</div>
			<div class='map-container-toggle' id='map-canvas-toggle'>
				Map
			</div>
		</div>
	</div>
	<div class='css-map-holder'>
		<div id='panel'></div>
		<div id='map-canvas'></div>
	</div>
</div>

<div class='css-location-form'>
	Sorry, we couldn’t locate a store close to your location. Feel free to recommend a store you want to see Rhino at by clicking <a href="">here</a>.
</div>
